.bg-carrito {
  background-color: rgba(243, 216, 190, 0.384);

  .carrito_total {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      & {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
      }
    }

    @media (min-width: 992px) {
      & {
        gap: 5rem;
      }
    }

    .carrito {
      display: flex;
      flex-direction: column;
      margin: 5rem 2rem 2rem;
      gap: 2rem;

      @media (min-width: 992px) {
        & {
          margin: 5rem;
        }
      }

      .articulo_carrito {
        padding: 2rem 2rem 2rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background-color: rgba(184, 184, 184, 0.267);
        border-radius: 1rem;
        height: auto;
        width: auto;
        border: 0.1rem solid rgba(128, 128, 128, 0.342);

        @media (min-width: 560px) {
          & {
            display: flex;
            flex-direction: row;
            height: 17rem;
            width: 50rem;
          }
        }
        img {
          height: 16rem;
          width: 16rem;
          border-radius: 1rem;
        }

        .articulo_carrito-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
        }
        h3 {
          font-size: 1.7rem;
          text-align: center;
          color: blue;
          @media (min-width: 468px) {
            font-size: 2rem;
          }
        }
        p {
          font-size: 2rem;
          font-weight: 400;
          color: green;
        }
        input {
          width: 5rem;
          text-align: center;
          font-size: 2rem;
        }
      }
    }

    .carrito_resumen {
      background-color: rgb(113, 159, 243);
      height: 25rem;
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 5rem;
      margin-bottom: 4rem;

      h4 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1.8rem;
        color: rgb(73, 73, 73);
      }
      .carrito_pagar {
        width: 15rem;
        padding: 0.5rem;
        background-color: blue;
        color: white;
        border-radius: 0.5rem;
        border: none;
        font-size: 1.8rem;
      }
    }
  }

  /* Carrito ver otros productos */

  .otros_productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    @media (min-width: 992px) {
      & {
        gap: 10rem;
      }
    }

    .art_productos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgb(185, 185, 245);
      height: 29rem;
      width: 40rem;
      border-radius: 1rem;
      padding: 0.5rem;
      margin: 2rem;
      transition: 0.3s;
      &:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
      }
      &:hover p {
        color: wheat;
      }
    }
    p {
      color: rgb(4, 0, 255);
      font-weight: 400;
      text-align: center;
    }

    img {
      border-radius: 0.5rem;
    }
    .art_productos2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(185, 185, 245);
      height: 28rem;
      width: 32rem;
      border-radius: 1rem;
      padding: 0.2rem;
      margin-bottom: 2rem;
      transition: 0.3s;

      &:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
      }
      &:hover p {
        color: wheat;
      }

      p {
        color: rgb(4, 0, 255);
        font-weight: 400;
      }
      img {
        height: 22rem;
        width: 30rem;
        border-radius: 0.5rem;
      }
    }

    @media (min-width: 768px) {
      & {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        .art_productos {
          margin: 3rem 0;
        }
        .art_productos2 {
          margin: 5rem;
        }
      }
    }

    @media (min-width: 768px) {
      .carrito_total {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
      }
    }
    @media (min-width: 992px) {
      .otros_productos {
        gap: 10rem;
      }
      .carrito_total {
        gap: 5rem;
      }
      .carrito {
        margin: 5rem;
      }
    }
  }
}
