.main-index {
  .ofertas {
    background-image: linear-gradient(
      180deg,
      rgba(85, 29, 85, 0.596),
      rgba(161, 159, 159, 0.555)
    );
    padding-bottom: 5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgb(119, 166, 219);
    ::after {
      justify-content: end;
      align-items: flex-end;
    }

    img {
      width: 100%;
    }

    .articulos-ofertas {
      h2 {
        text-align: center;
        margin: 3rem 0;
        font-size: 2.5rem;
        color: wheat;
      }

      .card-off {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        @media (min-width: 668px) {
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
          margin: 0 4rem;
        }
        @media (min-width: 992px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (min-width: 1200px) {
          display: flex;
          justify-content: center;
        }
        a {
          height: 35rem;
          width: 100%;
          max-width: 25rem;
          padding: 1rem;
          background-color: rgb(228, 228, 228);
          transition: 0.2s;
          margin-top: 1rem;
          border: 1px solid rgba(148, 147, 147, 0.89);
          &:hover {
            box-shadow: 5px 5px 5px rgb(117, 117, 117);
          }

          .producto {
            align-items: center;
            text-align: center;

            img {
              height: 17rem;
            }
            .producto_info {
              margin-top: 1rem;
              display: flex;
              flex-direction: column;
              .producto_precio {
                margin-top: 2rem;
                color: black;
                span {
                  color: rgb(10, 180, 18);
                }
              }
            }
          }
        }
      }
    }
    .ofertas-btn {
      margin-top: 2rem;
      width: 100%;
      padding: 0.5rem 1rem;
      text-align: center;
      background-color: rgb(139, 139, 204);
      color: white;
      &:hover {
        color: wheat;
      }
    }

    .fotos-lindas {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      img {
        max-width: 45rem;
      }
    }
  }

  .img_fondo {
    background-image: url(../../img/otros/foton-de-pesca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 0;
    @media (min-width: 768px) {
      padding: 5rem 0;
    }

    .background_main {
      padding: 5rem;
      background-color: rgba(15, 15, 15, 0.233);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: 768px) {
        & {
          margin: 0 6rem;
        }
      }

      .titulos_main {
        color: rgb(112, 234, 250);
        font-size: 2.5rem;
      }

      .contenido,
      .contenido-2 {
        margin-top: 7rem;
        margin-bottom: 10rem;
        justify-content: center;
        text-align: center;
        @media (min-width: 1300px) {
          margin-right: 10rem;
          margin-left: 10rem;
        }

        p {
          color: azure;
        }
        img {
          width: auto;
          height: 20rem;
        }
        @media (min-width: 576px) {
          & img {
            width: 40rem;
            height: 30rem;
          }
        }

        .contenido_info {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          @media (max-width: 768px) {
            & {
              text-align: center;
            }
          }

          h3 {
            background-color: rgba(245, 245, 220, 0.644);
            padding: 0.5rem;
            font-size: 1.8rem;
          }

          ul {
            font-size: 2.5rem;
          }
        }
      }
      .contenido-2 {
        @media (min-width: 992px) {
          display: flex;
          flex-direction: row-reverse;
          gap: 3rem;
        }
      }

      .contenido_maps {
        justify-content: center;
        text-align: center;
        margin-bottom: 6rem;
        .maps {
          width: 100%;
          height: 15rem;
        }
        @media (min-width: 576px) {
          .maps {
            width: 40rem;
            height: 20rem;
          }
        }
      }

      .ver_productos-div {
        display: flex;
        justify-content: end;
        .ver_productos {
          padding: 0.4rem 4rem;
          background-color: rgb(52, 52, 235);
          color: white;
          font-weight: 400;
          &:hover {
            color: wheat;
          }
        }
      }

      @media (min-width: 992px) {
        .contenido {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

        .contenido_info {
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
        }
        .contenido_ubicacion {
          width: 50%;
          text-align: left;
        }
        .contenido {
          gap: 3rem;
        }
      }
      .nosotros-ul {
        color: rgb(252, 223, 164);
        font-size: 2rem;
      }
    }
  }
}
