// redes sociales

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 2rem 0 2rem;
  background-color: rgb(100, 146, 214);
  gap: 5rem 2rem;

  @media (min-width: 768px) {
    & {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: repeat(2, 1fr);
    }
  }

  .nombre-logo {
    color: white;
    font-weight: 700;
    text-align: center;
    align-content: center;
    transition: 0.3s;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    font-size: 5rem;
    &:hover {
      color: wheat;
    }
  }
  .contactar-footer {
    color: blue;
    text-align: center;
    align-content: center;
    grid-row: 1 / 3;
    grid-column: 3 / 4;

    a {
      transition: 0.3s;
    }
    & a:hover {
      color: wheat;
      font-size: 2.3rem !important;
    }
  }

  .derechos {
    text-align: center;
    align-content: end;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding-bottom: 1rem;
  }

  .redes_sociales {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  li::after {
    content: "";
    display: block;
    height: 0px;
    transition: height 0.3s ease-in-out;
    pointer-events: none;
  }

  li:hover::after {
    height: 10px;
  }

  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-content {
      margin: 0 10px;
      position: relative;
      .tooltip {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        font-size: 14px;
        transition: all 0.3s ease;
      }

      &:hover .tooltip {
        opacity: 1;
        visibility: visible;
        bottom: -40px;
      }
      a {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: rgb(100, 146, 214);
        background-color: #5f5f5f;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
          color: white;

          .filled {
            height: 100%;
          }
        }
        svg {
          position: relative;
          z-index: 1;
          width: 30px;
          height: 30px;
        }
        .filled {
          position: absolute;
          top: auto;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: #000;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background-color: #8100ea;
}
.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #12aa0b;
}
.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #162bb0;
}
.example-2 .icon-content a[data-social="tiktok"] .filled,
.example-2 .icon-content a[data-social="tiktok"] ~ .tooltip {
  background-color: #05052a;
}
